body{
    background-color: antiquewhite;
    margin: 0;
    padding: 20px;
    color:black; /*Cor do texto*/
}

h1{
    color:brown;
    text-align: center;
    margin-bottom: 10px;
}

h4{
    color:darkblue;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.galeria-item{
    background-color: blue;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px;

    text-align: center;
}